/* Палитра
цвет основного текста #757575 
вторичный цвет текста #212121
белый цвет #FFFFFF
акцент 1 (синий) #2196F3
акцент 2 (серый) #2F303A
*/
:root {
  --text-color-primary: #757575;
  --text-color-title: #212121;
  --text-color-white: #ffffff;
  --text-color-black: #000000;
  --accent-color-primary: #2196f3;
  --accent-color-secondary: #2f303a;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;

  background-color: var(--text-color-white);
  color: var(--text-color-primary);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  /* outline: 2px solid tomato; */
}
/* Header */
.header-logo {
  display: block;
}
.page-header .container {
  display: flex;
  border-bottom: 1px solid #ececec;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: var(--text-color-black);
}
.logo.accent {
  color: var(--accent-color-primary);
}
.site-nav {
  margin-left: 93px;
}
.contact-nav {
  margin-left: auto;
}
.site-nav,
.contact-nav {
  display: flex;
}
.site-nav .item:not(:last-child),
.contact-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link,
.contact-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--text-color-title);
}
.contact-nav .link {
  color: var(--text-color-primary);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color-primary);
}
/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--accent-color-secondary);
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--text-color-white);
}
.hero-button {
  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 4px;
  border: none;
  outline: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--accent-color-primary);
  border-color: var(--accent-color-primary);
  color: var(--text-color-white);

  cursor: pointer;
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;

  color: var(--text-color-title);
}

/* Features */
.feature-list {
  display: flex;
}
.feature .section-title {
  visibility: hidden;
  font-size: 0;
  margin-bottom: 0;
}
.feature-list .item {
  width: calc((100% - 90px) / 4);
}
.feature-list .item:not(:last-child) {
  margin-right: 30px;
}
.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;

  color: var(--text-color-title);
}
.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;
}
/* Our work */
.works {
  padding-top: 0;
}
.work-list {
  display: flex;
}
.work-list .item.item:not(:last-child) {
  margin-right: 30px;
}
/* Our command */
.our-command {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}
.our-command .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--text-color-white);
}
.our-command .item.item:not(:last-child) {
  margin-right: 30px;
}
.our-command-list {
  display: flex;
}
.our-command-list img {
  margin-bottom: 30px;
}
.our-command-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;

  color: var(--text-color-title);
}
.our-command-list .text {
  margin-top: 0px;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

/* Portfolio */
/* .portfolio {
  margin-top: 94px;
  margin-bottom: 94px; 
}*/
.portfolio-title {
  visibility: hidden;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  margin-bottom: 0;
}
.portfolio-filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.portfolio-filter .item.item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  outline: none;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--text-color-title);
  border-color: #f5f4fa;
  background-color: #f5f4fa;
}
.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  background-color: var(--accent-color-primary);
  color: var(--text-color-white);
  cursor: pointer;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list .item {
  border-bottom: 1px solid #eeeeee;
}
.portfolio-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-list .link {
  font-style: normal;
  text-decoration: none;
}
.portfolio-list img {
}
.portfolio-list .title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--text-color-title);
}
.portfolio-list .item-content {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}
.portfolio-list .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--text-color-primary);
}

/* Footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-color-secondary);
}
.logo.secondary {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--text-color-white);
}
.contact-nav-footer {
  font-style: normal;
}
.contact-nav-footer .address {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;

  color: var(--text-color-white);
}
.contact-nav-footer .link {
  margin-bottom: 9px;

  color: rgba(255, 255, 255, 0.6);
}
.link.email {
  display: inline-block;
  margin-bottom: 9px;
}
.contact-nav-footer .link:hover,
.contact-nav-footer .link:focus {
  color: var(--accent-color-primary);
}
